# Set up

Data source: https://www.kaggle.com/datasets/dansbecker/melbourne-housing-snapshot

Import libraries and load the data from file

In [5]:
import pandas as pd
import matplotlib.pyplot as plt


from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer

In [7]:
# change the path to make it work for your computer
raw_data = pd.read_csv(r"C:\Users\Thanh Vu\Downloads\machine learning\melb_data.csv")

In [8]:
# print out to make sure it loaded
# how do you print out fewer/more rows?
raw_data.head(10)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0
5,Abbotsford,129 Charles St,2,h,941000.0,S,Jellis,7/05/2016,2.5,3067.0,...,1.0,0.0,181.0,NaN,NaN,Yarra,-37.8041,144.9953,Northern Metropolitan,4019.0
6,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.8024,144.9993,Northern Metropolitan,4019.0
7,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.0,2.0,256.0,107.0,1890.0,Yarra,-37.8060,144.9954,Northern Metropolitan,4019.0
8,Abbotsford,6/241 Nicholson St,1,u,300000.0,S,Biggin,8/10/2016,2.5,3067.0,...,1.0,1.0,0.0,NaN,NaN,Yarra,-37.8008,144.9973,Northern Metropolitan,4019.0
9,Abbotsford,10 Valiant St,2,h,1097000.0,S,Biggin,8/10/2016,2.5,3067.0,...,1.0,2.0,220.0,75.0,1900.0,Yarra,-37.8010,144.9989,Northern Metropolitan,4019.0

# Getting to know your data

Use the Pandas package and the dataset documentation to answer some basic questions about the dataset:
- How many data points are there?
- What does one data point represent?
- Do you know what each feature means?
- Are there missing values? How many and for which features?
- Which column would make sense to use as a label for prediction?
- What is the datatype of each feature? Make any conversions you think are necessary.

# Data Exploration

Decide how to handle the missing values you identified in the last part.

What's the distribution of housing prices? Do any seem unreasonably high or low to you? Decide how you want to handle outliers and update your dataset accordingly.

Calculate how many properties were sold in each month. Display these values as (1) a bar chart and (2) a line chart. Which one makes more sense to you?

This dataset includes two different features with the number of bedrooms. Make a scatter plot of one vs. the other to see the relationship. Would would a perfect correspondance look like? What is your plot telling you?

Look at how the number of bedrooms, number of bathrooms, land size, and building area correlate with property price. What kind of relationships do you see? Do any of these features give you more information about price than the others?

Do the answers to the previous part change if you normalized the housing prices to a mean of 0 with standard deviation 1?

# If you have more time

Pick another question you are curious about relating to the dataset. Now do some code to answer it!

In [ ]:
# add cells for code and text here